<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudera.poverty.mapper.AuthorityMapper">
    <resultMap id="nestedAuth" type="com.cloudera.poverty.entity.vo.AuthVo">
        <id property="authorityId" column="authority_id"/>
        <result property="name" column="name"/>
        <result property="isAble" column="is_able" />
        <result property="isDel" column="is_del"/>
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time"/>
        <result property="code" column="code" />
        <result property="url" column="url" />
        <result property="iframe" column="iframe" />
        <collection property="subMenus"
                    ofType="com.cloudera.poverty.entity.vo.AuthVo"
                    select="selectAuth"
                    column="authority_id"/>
    </resultMap>

    <insert id="insertArolePeri">
        insert into role_permission_relationship_table(role_id,authority_id) values(#{roleId},#{authId})
    </insert>

    <delete id="deleteRolePermisionByRoleId">
         delete from role_permission_relationship_table where role_id=#{roleid}
    </delete>

    <select id="selectAuth" resultMap="nestedAuth">
        select * from authority_table where authority_father_id=#{parentId}
    </select>

    <resultMap id="selectVo" type="com.cloudera.poverty.entity.vo.AuthVo">
        <id property="authorityId" column="authority_id"/>
        <result property="name" column="name"/>
        <result property="isAble" column="is_able" />
        <result property="isDel" column="is_del"/>
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time"/>
        <result property="code" column="code" />
        <result property="url" column="url" />
        <result property="iframe" column="iframe" />
        <collection property="subMenus"
                    ofType="com.cloudera.poverty.entity.vo.AuthVo"
                    select="selectAuth"
                    column="authority_id"/>
    </resultMap>

    <select id="selectAuthWapper" resultMap="selectVo">
      select * from authority_table
        ${ew.customSqlSegment}
    </select>

    <select id="selectByRoleId" resultType="com.cloudera.poverty.entity.vo.AuthVo">
         select * from role_permission_relationship_table where role_id=#{roleId}
    </select>

</mapper>
