<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudera.poverty.mapper.ResettlementPointTableMapper">

    <select id="selectId" resultType="java.lang.String">
        select r_id from
        resettlement_point_table
         ${ew.customSqlSegment}
    </select>
</mapper>
