<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudera.poverty.mapper.UserTabMapper">

    <delete id="deleteUser">
        DELETE FROM user_table
        ${ew.customSqlSegment}
    </delete>

    <select id="selectDist" resultType="com.cloudera.poverty.entity.vo.UserTableVo">
          select u.*,d.district as resName
        from
        user_table u,
        district_table d
        where level=2 and d.d_id=u.regional_id
    </select>
    <select id="selectTow" resultType="com.cloudera.poverty.entity.vo.UserTableVo">
        select u.*,t.township as resName
        from
        user_table u,
        township_table t
        where level=3 and t.t_id=u.regional_id
    </select>
    <select id="selectRes" resultType="com.cloudera.poverty.entity.vo.UserTableVo">
        select u.*,r.resettlement_point as resName
        from
        user_table u,
         resettlement_point_table r
        where level=4 and r.r_id=u.regional_id
    </select>
    <select id="select" resultType="com.cloudera.poverty.entity.vo.UserTableVo">
   				     select u.*,c.city_name as resName
        from
        user_table u,
         city c
        where level=0 or level=1 and c.ci_id=u.regional_id
    </select>
    <select id="selectAllList" resultType="com.cloudera.poverty.entity.vo.UserTableVo">
      select
        *
        from
        user_table  P
        left join
        resettlement_point_table R
        on P.regional_id=R.r_id
        left join
        township_table T
        on R.township_id=T.t_id
        left join
        district_table D
        on T.district_id=D.d_id
        left join
        city Ci
        on D.city_id=Ci.ci_id
        ${ew.customSqlSegment}
    </select>
</mapper>
